<% provide(:title, "About") %>

<main>
  <center><h3>About Edigaul and Rohkshe</h3></center>
  <section class="pageText">
    <p>
      Edigaul [<i>EH-dih-gawl</i>] is an abugida I created about a year ago for a fictional language I've been creating called Rohkshe [<i>RAWK-shee</i>] which itself is a language from a fictional world I've been developing for more years than I can remember. Besides Rohkshe, Edigaul is also used in the Azin [<i>Æ-zihn</i>] language, though I have not developed that language at all.
    </p>
  </section>

  <center><h4>What is an abugida?</h4></center>
  <section class="pageText">
    <p>
      An abugida is a writing system similar to an alphabet. Before describing what an abugida is, it's best if we define exactly what an alphabet is. First, in a spoken language, we have consonants and vowels. You know what those are, presumably, so no need to explain them. Second, in a writing system, we have letters. A letter is a symbol used to denote a sound in a language. In an alphabet, each consonant and each vowel gets their own letter. In the English alphabet, vowels letters are complicated. One vowel letter, or multiples in a row, can denote a variety of different sounds. Consonant letters in English are a bit more consistent, though they can have their exceptions, too.
    </p>
    <p>
      Vowels and consonants in an abugida are represented by letters differently than they are in an alphabet. In an abugida, only consonants are represented by letters, and, like in an alphabet, there is one letter for each consonant. Vowels are represented by markings applied to those consonant letters. Thus, each "unit" in an abugida represents a sequence of vowel sounds and a single consonant.
    </p>
    <p>
      You can learn more about abugidas by reading the 
      <a href="https://en.wikipedia.org/wiki/Abugida">Wikipedia article</a>
      about them.
    </p>
  </section>

  <center><h4>How do I read this "Edigaul?"</h4></center>
  <section class="pageText">
    <p>
      First, given a single letter consisting of the central consonant symbol with one vowel marking above it and one vowel marking below it, you would read the letter from top to bottom. This means that you would read the top vowel marking first, then the consonant, and finally the bottom vowel marking. Edigaul is also read left to right, like English.
    </p>
    <p>
      There are 24 consonants symbols in the Edigaul abugida. Each of these consonants has a specific sound associated with it, though that specific sound may vary slightly from dialect to dialect. (For example, in Foothills Rohkshe, the th sound is always voiceless, but in Middlelands Rohkshe, the th sound is always voiced.)
    </p>
    <p>
      There are two special consonant symbols in the Edigaul abugida which are different from the rest. The first is the X, which is called the Xerithi Z. This X letter is pronounced like a Z, and it is not allowed to have any vowel marks attached to it. It cannot take vowel marks and looks drastically different from the other symbols (fun fact, it is the only consonant that cannot be written in one motion) because it comes from an old runic alphabet. The X symbol is only used for words derived from the word Xerith. The second special symbol is the silent placeholder. This symbol is unpronounced and is only used for "lonely" vowel marks, which are vowel marks that do not have any nearby consonants to which they can attach.
    </p>
  </section>
  <section>
    <center>
      <p>
        The 24 consonant symbols are:
      </p>
      <table>
        <tr>
          <th>Symbol</th>
          <th>Transliteration/Sound</th>
          <th>IPA</th>
        </tr>
        <tr>
          <td><%= image_tag ("b.png"), class: "consonantImg" %></td>
          <td>b</td>
          <td>[b]</td>
        </tr>
        <tr>
          <td><%= image_tag ("d.png"), class: "consonantImg" %></td>
          <td>d</td>
          <td>[d]</td>
        </tr>
        <tr>
          <td><%= image_tag ("f.png"), class: "consonantImg" %></td>
          <td>f</td>
          <td>[f]</td>
        </tr>
        <tr>
          <td><%= image_tag ("g.png"), class: "consonantImg" %></td>
          <td>g in give</td>
          <td>[g]</td>
        </tr>
        <tr>
          <td><%= image_tag ("h.png"), class: "consonantImg" %></td>
          <td>h</td>
          <td>[h]</td>
        </tr>
        <tr>
          <td><%= image_tag ("j.png"), class: "consonantImg" %></td>
          <td>j in jacket</td>
          <td>[ʤ]</td>
        </tr>
        <tr>
          <td><%= image_tag ("k.png"), class: "consonantImg" %></td>
          <td>k</td>
          <td>[k]</td>
        </tr>
        <tr>
          <td><%= image_tag ("l.png"), class: "consonantImg" %></td>
          <td>l</td>
          <td>[l]</td>
        </tr>
        <tr>
          <td><%= image_tag ("m.png"), class: "consonantImg" %></td>
          <td>m</td>
          <td>[m]</td>
        </tr>
        <tr>
          <td><%= image_tag ("n.png"), class: "consonantImg" %></td>
          <td>n</td>
          <td>[n]</td>
        </tr>
        <tr>
          <td><%= image_tag ("p.png"), class: "consonantImg" %></td>
          <td>p</td>
          <td>[p]</td>
        </tr>
        <tr>
          <td><%= image_tag ("r.png"), class: "consonantImg" %></td>
          <td>r</td>
          <td>[ɹ]</td>
        </tr>
        <tr>
          <td><%= image_tag ("s.png"), class: "consonantImg" %></td>
          <td>s</td>
          <td>[s]</td>
        </tr>
        <tr>
          <td><%= image_tag ("t.png"), class: "consonantImg" %></td>
          <td>t</td>
          <td>[t]</td>
        </tr>
        <tr>
          <td><%= image_tag ("v.png"), class: "consonantImg" %></td>
          <td>v</td>
          <td>[v]</td>
        </tr>
        <tr>
          <td><%= image_tag ("w.png"), class: "consonantImg" %></td>
          <td>w</td>
          <td>[w]</td>
        </tr>
        <tr>
          <td><%= image_tag ("y.png"), class: "consonantImg" %></td>
          <td>y in yellow</td>
          <td>[j]</td>
        </tr>
        <tr>
          <td><%= image_tag ("z.png"), class: "consonantImg" %></td>
          <td>z</td>
          <td>[z]</td>
        </tr>
        <tr>
          <td><%= image_tag ("sh.png"), class: "consonantImg" %></td>
          <td>sh</td>
          <td>[ʃ]</td>
        </tr>
        <tr>
          <td><%= image_tag ("ch.png"), class: "consonantImg" %></td>
          <td>ch</td>
          <td>[ʧ]</td>
        </tr>
        <tr>
          <td><%= image_tag ("th.png"), class: "consonantImg" %></td>
          <td>th in thin</td>
          <td>[θ]</td>
        </tr>
        <tr>
          <td><%= image_tag ("zh.png"), class: "consonantImg" %></td>
          <td>zh, like s in measure</td>
          <td>[ʒ]</td>
        </tr>
        <tr>
          <td><%= image_tag ("x.png"), class: "consonantImg" %></td>
          <td>x, like z</td>
          <td>[z]</td>
        </tr>
        <tr>
          <td><%= image_tag ("sp.png"), class: "consonantImg" %></td>
          <td>silent placeholder</td>
          <td>none</td>
        </tr>
      </table>
    </center>
  </section>
  <section class="pageText">
    <p>
      There are 12 vowel marks in the Edigaul abugida. Like with the consonants, these vowel marks have specific vowel sounds associated with them, though they may vary by dialect. Each mark can be placed above or below a consonant. Each mark's appearance below a consonant is a reflection of its appearance above a consonant. Recall that a vowel mark above a consonant is pronounced immediately before that consonant, and a vowel mark below a consonant is pronounced immediately after it. In the following table, each vowel mark will be attached to a silent placeholder consonant.
    </p>
  </section>
  <section>
    <center>
      <p>
        The 12 vowel marks are:
      </p>
      <table>
        <tr>
          <th>Symbol Above</th>
          <th>Symbol Below</th>
          <th>Transliteration/Sound</th>
          <th>IPA</th>
        </tr>
        <tr>
          <td>
            <span class="edigaulUnit">
              <%= get_vowel_img("eh", "topVowelImg") %>
              <%= image_tag ("sp.png"), class: "consonantImg" %>
            </span>
          </td>
          <td>
            <span class="edigaulUnit">
              <%= image_tag ("sp.png"), class: "consonantImg" %>
              <%= get_vowel_img("eh", "bottomVowelImg") %>
            </span>
          </td>
          <td>eh, like e in bet</td>
          <td>[ɛ]</td>
        </tr>
        <tr>
          <td>
            <span class="edigaulUnit">
              <%= get_vowel_img("ee", "topVowelImg") %>
              <%= image_tag ("sp.png"), class: "consonantImg" %>
            </span>
          </td>
          <td>
            <span class="edigaulUnit">
              <%= image_tag ("sp.png"), class: "consonantImg" %>
              <%= get_vowel_img("ee", "bottomVowelImg") %>
            </span>
          </td>
          <td>ee in bee</td>
          <td>[i]</td>
        </tr>
        <tr>
          <td>
            <span class="edigaulUnit">
              <%= get_vowel_img("ah", "topVowelImg") %>
              <%= image_tag ("sp.png"), class: "consonantImg" %>
            </span>
          </td>
          <td>
            <span class="edigaulUnit">
              <%= image_tag ("sp.png"), class: "consonantImg" %>
              <%= get_vowel_img("ah", "bottomVowelImg") %>
            </span>
          </td>
          <td>ah, like o in bot</td>
          <td>[ɑ]</td>
        </tr>
        <tr>
          <td>
            <span class="edigaulUnit">
              <%= get_vowel_img("aah", "topVowelImg") %>
              <%= image_tag ("sp.png"), class: "consonantImg" %>
            </span>
          </td>
          <td>
            <span class="edigaulUnit">
              <%= image_tag ("sp.png"), class: "consonantImg" %>
              <%= get_vowel_img("aah", "bottomVowelImg") %>
            </span>
          </td>
          <td>aa, like a in bat</td>
          <td>[æ]</td>
        </tr>
        <tr>
          <td>
            <span class="edigaulUnit">
              <%= get_vowel_img("aw", "topVowelImg") %>
              <%= image_tag ("sp.png"), class: "consonantImg" %>
            </span>
          </td>
          <td>
            <span class="edigaulUnit">
              <%= image_tag ("sp.png"), class: "consonantImg" %>
              <%= get_vowel_img("aw", "bottomVowelImg") %>
            </span>
          </td>
          <td>aw in law</td>
          <td>[ɔ]</td>
        </tr>
        <tr>
          <td>
            <span class="edigaulUnit">
              <%= get_vowel_img("ay", "topVowelImg") %>
              <%= image_tag ("sp.png"), class: "consonantImg" %>
            </span>
          </td>
          <td>
            <span class="edigaulUnit">
              <%= image_tag ("sp.png"), class: "consonantImg" %>
              <%= get_vowel_img("ay", "bottomVowelImg") %>
            </span>
          </td>
          <td>ay in lay</td>
          <td>[eɪ]</td>
        </tr>
        <tr>
          <td>
            <span class="edigaulUnit">
              <%= get_vowel_img("uh", "topVowelImg") %>
              <%= image_tag ("sp.png"), class: "consonantImg" %>
            </span>
          </td>
          <td>
            <span class="edigaulUnit">
              <%= image_tag ("sp.png"), class: "consonantImg" %>
              <%= get_vowel_img("uh", "bottomVowelImg") %>
            </span>
          </td>
          <td>uh, like u in but</td>
          <td>[ʌ] or [ə]</td>
        </tr>
        <tr>
          <td>
            <span class="edigaulUnit">
              <%= get_vowel_img("uuh", "topVowelImg") %>
              <%= image_tag ("sp.png"), class: "consonantImg" %>
            </span>
          </td>
          <td>
            <span class="edigaulUnit">
              <%= image_tag ("sp.png"), class: "consonantImg" %>
              <%= get_vowel_img("uuh", "bottomVowelImg") %>
            </span>
          </td>
          <td>uu, like oo in book</td>
          <td>[ʊ]</td>
        </tr>
        <tr>
          <td>
            <span class="edigaulUnit">
              <%= get_vowel_img("oh", "topVowelImg") %>
              <%= image_tag ("sp.png"), class: "consonantImg" %>
            </span>
          </td>
          <td>
            <span class="edigaulUnit">
              <%= image_tag ("sp.png"), class: "consonantImg" %>
              <%= get_vowel_img("oh", "bottomVowelImg") %>
            </span>
          </td>
          <td>oh, like oa in boat</td>
          <td>[o] or [oʊ]</td>
        </tr>
        <tr>
          <td>
            <span class="edigaulUnit">
              <%= get_vowel_img("oo", "topVowelImg") %>
              <%= image_tag ("sp.png"), class: "consonantImg" %>
            </span>
          </td>
          <td>
            <span class="edigaulUnit">
              <%= image_tag ("sp.png"), class: "consonantImg" %>
              <%= get_vowel_img("oo", "bottomVowelImg") %>
            </span>
          </td>
          <td>oo in boot</td>
          <td>[u]</td>
        </tr>
        <tr>
          <td>
            <span class="edigaulUnit">
              <%= get_vowel_img("ih", "topVowelImg") %>
              <%= image_tag ("sp.png"), class: "consonantImg" %>
            </span>
          </td>
          <td>
            <span class="edigaulUnit">
              <%= image_tag ("sp.png"), class: "consonantImg" %>
              <%= get_vowel_img("ih", "bottomVowelImg") %>
            </span>
          </td>
          <td>ih, like i in bit</td>
          <td>[ɪ]</td>
        </tr>
        <tr>
          <td>
            <span class="edigaulUnit">
              <%= get_vowel_img("ie", "topVowelImg") %>
              <%= image_tag ("sp.png"), class: "consonantImg" %>
            </span>
          </td>
          <td>
            <span class="edigaulUnit">
              <%= image_tag ("sp.png"), class: "consonantImg" %>
              <%= get_vowel_img("ie", "bottomVowelImg") %>
            </span>
          </td>
          <td>ahy, like eye</td>
          <td>[aɪ]</td>
        </tr>
      </table>
    </center>
  </section>

  <center><h4>How do I write this "Edigaul?"</h4></center>
  <section class="pageText">
    <p>
      First, if you have little experience writing in Edigaul, it is best to start writing a word by writing its consonants in the order they are pronounced. Once that is done, then deal with the process of adding the vowel marks. We won't worry about dealing with silent placeholders for now. You will rarely need to use them except for words which consist of a single vowel sound and no consonants.
    </p>
    <p>
      When adding vowel marks, first recall from the section on reading Edigaul that a vowel mark above a consonant is pronounced before immediately the consonant, and a vowel mark below a consonant is pronounced immediately after it. The first vowels you should place are any vowels that begin or end the word. If the word begins with a vowel, that vowewl mark <i>has</i> to go above the first consonant. Likewise, if the word ends with a vowel, that vowel mark <i>has</i> to go below the last consonant. Then deal with the vowel marks in the middle of the word.
    </p>
    <p>
      Most of the time, you will not need to put more than one vowel between two consonants, but, if there are two vowels between a pair of consonants, then the vowel that comes first must go below the first consonant in the pair, and the vowel that comes second must go above the second consonant in the pair. But, as I said, usually there will only be one vowel between consonants. In this case, there is a series of three rules that will tell you where to place this vowel mark. But, before I can explain these rules, I must differentiate between two types of consonants.
    </p>
    <p>
      In Edigaul, the consonant symbols can be split into two groups: the uptails and the downtails. The tail on a consonant is the line that sticks out of the head of the consonant. The uptail/downtail category of a consonant is not determined by which direction the tail points however. Instead, when writing a consonant (from left to right), if a tail is written with an upward motion, the consonant is an uptail (the k and d symbols, for example). Similarly, if a tail is written with a downward motion, the consonant is a downtail (the s and t symbols, for example).
    </p>
    <p>
      Now that you know the difference between uptails and downtails, I can explain the three rules for placing a single vowel between two consonants. Go through these rules in order, the first rule that matches your scenario is the rule you should follow.
    </p>
    <ol>
      <li>
        If the second consonant in the pair is an uptail, place it above that consonant.
      </li>
      <li>
        If the first consonant in the pair is an uptail, but the second is a downtail, place it below the first consonant.
      </li>
      <li>
        If both consonants in the pair are downtails, place it above the second consonant.
      </li>
    </ol>
    <p>
      Finally, the boundaries between the morphemes of a word are important. A morpheme, if you are unfamiliar, is a unit within a word which has a distinct meaning and cannot be broken into smaller meaningful units. For example, the word "unhelpful" has three morphemes. Those are un, help, and ful. Some morphemes are words on their own while others are not. When writing in Edigaul, the vowels that belong to a morpheme must not be separated from that morpheme. For example, take the word <i>muuthni</i> (ocean). <i>Muuthni</i> has two morphemes, <i>muuh</i> meaning broad, and <i>thni</i> meaning water. By the rules listed above, the uuh mark in <i>muuthni</i> should go above the th symbol, but there is a morpheme boundary in the way! So the uuh mark goes under the m symbol instead.
    </p>
    <p>
      Vowel placement in Edigaul, as you can see, can be extremely complicated. That's why the
      <a href="/tool">Edigaul Text Tool</a> exists! This tool will automatically place all the vowel marks exactly where they should be, and will even add any required silent placeholders.
    </p>
  </section>
</main>

<br><br><br>