<% provide(:title, "Home") %>

<center>
  <h3>Welcome to the Edigaul Abugida Text Tool!</h3>

  <span class="edigaulTextBox">
    <span class="edigaulWord">
      <%= image_tag ("k.png"), class: "consonantImg" %>
      <span class="edigaulUnit">
        <%= image_tag ("ih.png"), class: "topVowelImg" %>
        <%= image_tag ("sh.png"), class: "consonantImg" %>
      </span>
    </span>
    <span class="edigaulWord">
      <span class="edigaulUnit">
        <%= image_tag ("eh.png"), class: "topVowelImg" %>
        <%= image_tag ("k.png"), class: "consonantImg" %>
        <%= image_tag ("ie.png"), class: "bottomVowelImg" %>
      </span>
    </span>
    <span class="edigaulWord">
      <span class="edigaulUnit">
        <%= image_tag ("eh.png"), class: "topVowelImg" %>
        <%= image_tag ("d.png"), class: "consonantImg" %>
      </span>
      <span class="edigaulUnit">
        <%= image_tag ("ih.png"), class: "topVowelImg" %>
        <%= image_tag ("g.png"), class: "consonantImg" %>
      </span>
      <span class="edigaulUnit">
        <%= image_tag ("aw.png"), class: "topVowelImg" %>
        <%= image_tag ("l.png"), class: "consonantImg" %>
      </span>
    </span>
    <span class="edigaulWord">
      <span class="edigaulUnit">
        <%= image_tag ("oh.png"), class: "topVowelImg" %>
        <%= image_tag ("sp.png"), class: "consonantImg" %>
      </span>
    </span>
    <span class="edigaulWord">
      <span class="edigaulUnit">
        <%= image_tag ("r.png"), class: "consonantImg" %>
      </span>
      <span class="edigaulUnit">
        <%= image_tag ("aw.png"), class: "topVowelImg" %>
        <%= image_tag ("k.png"), class: "consonantImg" %>
      </span>
      <span class="edigaulUnit">
        <%= image_tag ("sh.png"), class: "consonantImg" %>
        <%= image_tag ("ee.png"), class: "bottomVowelImg" %>
      </span>
    </span>
  </span>

  <h4>Random Rohkshe Word</h4>
  <table>
    <tr>
      <td>Rohkshe</td>
      <td>English Transliteration</td>
      <td>English Translation</td>
    </tr>
    <tr>
      <td>
        <span class="edigaulTextBox">
          <span class="edigaulWord">
            <% @rohkshe.each do |letter| %>
            <span class="edigaulUnit">
              <%= get_vowel_img(letter[0], "topVowelImg") %>
              <%= image_tag ("#{letter[1]}.png"), class: "consonantImg" %>
              <%= get_vowel_img(letter[2], "bottomVowelImg") %>
            </span>
            <% end %>
          </span>
        </span>
      </td>
      <td><%= @transliteration %></td>
      <td><%= @translation %></td>
    </tr>
  </table>
  <a href="/">Get another word</a>
  
  <p>[ Insert Tool Here ]</p>
</center>