<% provide(:title, "Home") %>

<center>
  <h3>Welcome to the Edigaul Abugida Text Tool!</h3>

  <span class="edigaulTextBox">
    <% @this_is_edigaul_and_rohkshe.each do |word| %>
    <span class="edigaulWord">
      <% word.each do |letter| %>
      <span class="edigaulUnit">
        <%= get_vowel_img(letter[0], "topVowelImg") %>
        <%= image_tag ("#{letter[1]}.png"), class: "consonantImg" %>
        <%= get_vowel_img(letter[2], "bottomVowelImg") %>
      </span>
      <% end %>
    </span>
    <% end %>
  </span>

  <h4>Random Rohkshe Word</h4>
  <table>
    <tr>
      <td>Rohkshe Script</td>
      <td>English Transliteration</td>
      <td>English Translation</td>
    </tr>
    <tr>
      <td>
        <span class="edigaulTextBox">
          <span class="edigaulWord">
            <% @rohkshe.each do |letter| %>
            <span class="edigaulUnit">
              <%= get_vowel_img(letter[0], "topVowelImg") %>
              <%= image_tag ("#{letter[1]}.png"), class: "consonantImg" %>
              <%= get_vowel_img(letter[2], "bottomVowelImg") %>
            </span>
            <% end %>
          </span>
        </span>
      </td>
      <td><%= @transliteration %></td>
      <td><%= @translation %></td>
    </tr>
  </table>
  <a href="/">Get another word</a>
  
  <p>[ Insert Tool Here ]</p>
</center>