<% provide(:title, "Home") %>

<center>
  <h3>Welcome to the Edigaul Abugida Text Tool!</h3>

  <div class="edigaulTextBox">
    <div class="edigaulWord">
      <%= image_tag ("K.png"), class: "consonantImg" %>
      <div class="edigaulUnit">
        <%= image_tag ("ih.png"), class: "topVowelImg" %>
        <%= image_tag ("Sh.png"), class: "consonantImg" %>
      </div>
    </div>
    <div class="edigaulWord">
      <div class="edigaulUnit">
        <%= image_tag ("eh.png"), class: "topVowelImg" %>
        <%= image_tag ("K.png"), class: "consonantImg" %>
        <%= image_tag ("ie.png"), class: "bottomVowelImg" %>
      </div>
    </div>
    <div class="edigaulWord">
      <div class="edigaulUnit">
        <%= image_tag ("eh.png"), class: "topVowelImg" %>
        <%= image_tag ("D.png"), class: "consonantImg" %>
      </div>
      <div class="edigaulUnit">
        <%= image_tag ("ih.png"), class: "topVowelImg" %>
        <%= image_tag ("G.png"), class: "consonantImg" %>
      </div>
      <div class="edigaulUnit">
        <%= image_tag ("aw.png"), class: "topVowelImg" %>
        <%= image_tag ("L.png"), class: "consonantImg" %>
      </div>
    </div>
  </div>

  <h4>Random Rohkshe Word</h4>
  <table>
    <tr>
      <td>Rohkshe <p style="font-size: 8px;">(TODO: make this look like sample above)</p></td>
      <td>English Transliteration</td>
      <td>English Translation</td>
    </tr>
    <tr>
      <td><%= @rohkshe %></td>
      <td><%= @transliteration %></td>
      <td><%= @translation %></td>
    </tr>
  </table>
  <a href="/">Get another word</a>
  
  <p>[ Insert Tool Here ]</p>
</center>