<p>
  The 24 consonant symbols are:
</p>
<table>
  <tr>
    <th>Symbol</th>
    <th>Transliteration/Sound</th>
    <th>IPA</th>
  </tr>
  <tr>
    <td><%= image_tag ("b.png"), class: "consonantImg" %></td>
    <td>b</td>
    <td>[b]</td>
  </tr>
  <tr>
    <td><%= image_tag ("d.png"), class: "consonantImg" %></td>
    <td>d</td>
    <td>[d]</td>
  </tr>
  <tr>
    <td><%= image_tag ("f.png"), class: "consonantImg" %></td>
    <td>f</td>
    <td>[f]</td>
  </tr>
  <tr>
    <td><%= image_tag ("g.png"), class: "consonantImg" %></td>
    <td>g in give</td>
    <td>[g]</td>
  </tr>
  <tr>
    <td><%= image_tag ("h.png"), class: "consonantImg" %></td>
    <td>h</td>
    <td>[h]</td>
  </tr>
  <tr>
    <td><%= image_tag ("j.png"), class: "consonantImg" %></td>
    <td>j in jacket</td>
    <td>[ʤ]</td>
  </tr>
  <tr>
    <td><%= image_tag ("k.png"), class: "consonantImg" %></td>
    <td>k</td>
    <td>[k]</td>
  </tr>
  <tr>
    <td><%= image_tag ("l.png"), class: "consonantImg" %></td>
    <td>l</td>
    <td>[l]</td>
  </tr>
  <tr>
    <td><%= image_tag ("m.png"), class: "consonantImg" %></td>
    <td>m</td>
    <td>[m]</td>
  </tr>
  <tr>
    <td><%= image_tag ("n.png"), class: "consonantImg" %></td>
    <td>n</td>
    <td>[n]</td>
  </tr>
  <tr>
    <td><%= image_tag ("p.png"), class: "consonantImg" %></td>
    <td>p</td>
    <td>[p]</td>
  </tr>
  <tr>
    <td><%= image_tag ("r.png"), class: "consonantImg" %></td>
    <td>r</td>
    <td>[ɹ]</td>
  </tr>
  <tr>
    <td><%= image_tag ("s.png"), class: "consonantImg" %></td>
    <td>s</td>
    <td>[s]</td>
  </tr>
  <tr>
    <td><%= image_tag ("t.png"), class: "consonantImg" %></td>
    <td>t</td>
    <td>[t]</td>
  </tr>
  <tr>
    <td><%= image_tag ("v.png"), class: "consonantImg" %></td>
    <td>v</td>
    <td>[v]</td>
  </tr>
  <tr>
    <td><%= image_tag ("w.png"), class: "consonantImg" %></td>
    <td>w</td>
    <td>[w]</td>
  </tr>
  <tr>
    <td><%= image_tag ("y.png"), class: "consonantImg" %></td>
    <td>y in yellow</td>
    <td>[j]</td>
  </tr>
  <tr>
    <td><%= image_tag ("z.png"), class: "consonantImg" %></td>
    <td>z</td>
    <td>[z]</td>
  </tr>
  <tr>
    <td><%= image_tag ("sh.png"), class: "consonantImg" %></td>
    <td>sh</td>
    <td>[ʃ]</td>
  </tr>
  <tr>
    <td><%= image_tag ("ch.png"), class: "consonantImg" %></td>
    <td>ch</td>
    <td>[ʧ]</td>
  </tr>
  <tr>
    <td><%= image_tag ("th.png"), class: "consonantImg" %></td>
    <td>th in thin</td>
    <td>[θ]</td>
  </tr>
  <tr>
    <td><%= image_tag ("zh.png"), class: "consonantImg" %></td>
    <td>zh, like s in measure</td>
    <td>[ʒ]</td>
  </tr>
  <tr>
    <td><%= image_tag ("x.png"), class: "consonantImg" %></td>
    <td>x, like z</td>
    <td>[z]</td>
  </tr>
  <tr>
    <td><%= image_tag ("sp.png"), class: "consonantImg" %></td>
    <td>silent placeholder</td>
    <td>none</td>
  </tr>
</table>
