<p>
  The 12 vowel marks are:
</p>
<table>
  <tr>
    <th>Symbol Above</th>
    <th>Symbol Below</th>
    <th>Transliteration/Sound</th>
    <th>IPA</th>
  </tr>
  <tr>
    <td>
      <span class="edigaulUnit">
        <%= get_vowel_img("eh", "topVowelImg") %>
        <%= image_tag ("sp.png"), class: "consonantImg" %>
      </span>
    </td>
    <td>
      <span class="edigaulUnit">
        <%= image_tag ("sp.png"), class: "consonantImg" %>
        <%= get_vowel_img("eh", "bottomVowelImg") %>
      </span>
    </td>
    <td>eh, like e in bet</td>
    <td>[ɛ]</td>
  </tr>
  <tr>
    <td>
      <span class="edigaulUnit">
        <%= get_vowel_img("ee", "topVowelImg") %>
        <%= image_tag ("sp.png"), class: "consonantImg" %>
      </span>
    </td>
    <td>
      <span class="edigaulUnit">
        <%= image_tag ("sp.png"), class: "consonantImg" %>
        <%= get_vowel_img("ee", "bottomVowelImg") %>
      </span>
    </td>
    <td>ee in bee</td>
    <td>[i]</td>
  </tr>
  <tr>
    <td>
      <span class="edigaulUnit">
        <%= get_vowel_img("ah", "topVowelImg") %>
        <%= image_tag ("sp.png"), class: "consonantImg" %>
      </span>
    </td>
    <td>
      <span class="edigaulUnit">
        <%= image_tag ("sp.png"), class: "consonantImg" %>
        <%= get_vowel_img("ah", "bottomVowelImg") %>
      </span>
    </td>
    <td>ah, like o in bot</td>
    <td>[ɑ]</td>
  </tr>
  <tr>
    <td>
      <span class="edigaulUnit">
        <%= get_vowel_img("aah", "topVowelImg") %>
        <%= image_tag ("sp.png"), class: "consonantImg" %>
      </span>
    </td>
    <td>
      <span class="edigaulUnit">
        <%= image_tag ("sp.png"), class: "consonantImg" %>
        <%= get_vowel_img("aah", "bottomVowelImg") %>
      </span>
    </td>
    <td>aa, like a in bat</td>
    <td>[æ]</td>
  </tr>
  <tr>
    <td>
      <span class="edigaulUnit">
        <%= get_vowel_img("aw", "topVowelImg") %>
        <%= image_tag ("sp.png"), class: "consonantImg" %>
      </span>
    </td>
    <td>
      <span class="edigaulUnit">
        <%= image_tag ("sp.png"), class: "consonantImg" %>
        <%= get_vowel_img("aw", "bottomVowelImg") %>
      </span>
    </td>
    <td>aw in law</td>
    <td>[ɔ]</td>
  </tr>
  <tr>
    <td>
      <span class="edigaulUnit">
        <%= get_vowel_img("ay", "topVowelImg") %>
        <%= image_tag ("sp.png"), class: "consonantImg" %>
      </span>
    </td>
    <td>
      <span class="edigaulUnit">
        <%= image_tag ("sp.png"), class: "consonantImg" %>
        <%= get_vowel_img("ay", "bottomVowelImg") %>
      </span>
    </td>
    <td>ay in lay</td>
    <td>[eɪ]</td>
  </tr>
  <tr>
    <td>
      <span class="edigaulUnit">
        <%= get_vowel_img("uh", "topVowelImg") %>
        <%= image_tag ("sp.png"), class: "consonantImg" %>
      </span>
    </td>
    <td>
      <span class="edigaulUnit">
        <%= image_tag ("sp.png"), class: "consonantImg" %>
        <%= get_vowel_img("uh", "bottomVowelImg") %>
      </span>
    </td>
    <td>uh, like u in but</td>
    <td>[ʌ] or [ə]</td>
  </tr>
  <tr>
    <td>
      <span class="edigaulUnit">
        <%= get_vowel_img("uuh", "topVowelImg") %>
        <%= image_tag ("sp.png"), class: "consonantImg" %>
      </span>
    </td>
    <td>
      <span class="edigaulUnit">
        <%= image_tag ("sp.png"), class: "consonantImg" %>
        <%= get_vowel_img("uuh", "bottomVowelImg") %>
      </span>
    </td>
    <td>uu, like oo in book</td>
    <td>[ʊ]</td>
  </tr>
  <tr>
    <td>
      <span class="edigaulUnit">
        <%= get_vowel_img("oh", "topVowelImg") %>
        <%= image_tag ("sp.png"), class: "consonantImg" %>
      </span>
    </td>
    <td>
      <span class="edigaulUnit">
        <%= image_tag ("sp.png"), class: "consonantImg" %>
        <%= get_vowel_img("oh", "bottomVowelImg") %>
      </span>
    </td>
    <td>oh, like oa in boat</td>
    <td>[o] or [oʊ]</td>
  </tr>
  <tr>
    <td>
      <span class="edigaulUnit">
        <%= get_vowel_img("oo", "topVowelImg") %>
        <%= image_tag ("sp.png"), class: "consonantImg" %>
      </span>
    </td>
    <td>
      <span class="edigaulUnit">
        <%= image_tag ("sp.png"), class: "consonantImg" %>
        <%= get_vowel_img("oo", "bottomVowelImg") %>
      </span>
    </td>
    <td>oo in boot</td>
    <td>[u]</td>
  </tr>
  <tr>
    <td>
      <span class="edigaulUnit">
        <%= get_vowel_img("ih", "topVowelImg") %>
        <%= image_tag ("sp.png"), class: "consonantImg" %>
      </span>
    </td>
    <td>
      <span class="edigaulUnit">
        <%= image_tag ("sp.png"), class: "consonantImg" %>
        <%= get_vowel_img("ih", "bottomVowelImg") %>
      </span>
    </td>
    <td>ih, like i in bit</td>
    <td>[ɪ]</td>
  </tr>
  <tr>
    <td>
      <span class="edigaulUnit">
        <%= get_vowel_img("ie", "topVowelImg") %>
        <%= image_tag ("sp.png"), class: "consonantImg" %>
      </span>
    </td>
    <td>
      <span class="edigaulUnit">
        <%= image_tag ("sp.png"), class: "consonantImg" %>
        <%= get_vowel_img("ie", "bottomVowelImg") %>
      </span>
    </td>
    <td>ahy, like eye</td>
    <td>[aɪ]</td>
  </tr>
</table>
