<h4>Add a Word to the Dictionary</h4>
<p>
  Example: <br>
  <i>Rohkshe:</i> <b>[+k+uh][+th+][+n+ee]</b>,
  <i>Transliteration:</i> <b>kuthni</b>,
  <i>Translation:</i> <b>river</b>
</p>

<%= form_for @word do |f| %>
  <div>
    <%= f.text_field :rohkshe, placeholder: "Rohkshe" %>
    <%= f.text_field :transliteration, placeholder: "Transliteration" %>
    <%= f.text_field :translation, placeholder: "Translation" %>
  </div>
  
  <%= f.submit "Add Word" %>
<% end %>