<h4>Add a Word to the Dictionary</h4>
<p>
  Example: <br>
  <i>Rohkshe:</i> <b>Use the string form from the <a href="/tool">tool</a></b>,
  <i>Transliteration:</i> <b>kuthni</b>,
  <i>Translation:</i> <b>river</b>
</p>

<%= form_for @word, html: { class: "addForm" } do |f| %>
  <div>
    <%= f.text_field :rohkshe, placeholder: "Rohkshe", "aria-label" => "Rohkshe" %>
    <%= f.text_field :transliteration, placeholder: "Transliteration", "aria-label" => "Transliteration" %>
    <%= f.text_field :translation, placeholder: "Translation", "aria-label" => "Translation" %>
  </div>

  <%= f.submit "Add Word" %>
<% end %>
