<p>
  Example: <br>
  <i>Rohkshe:</i> <b>[+k+uh][+th+][+n+ee]</b>,
  <i>Transliteration:</i> <b>kuthni</b>,
  <i>Translation:</i> <b>river</b>
</p>

<%= form_with model: @word, class: "addForm" do |f| %>
  <%= f.text_field :rohkshe, placeholder: "Rohkshe" %>
  <%= f.text_field :transliteration, placeholder: "Transliteration" %>
  <%= f.text_field :translation, placeholder: "Translation" %> <br>
  <%= f.submit "Add Word" %> <br><br>

  <%= render "shared/error_messages" %>
<% end %>