<table class="dictionary">
  <tr>
    <th>Rohkshe Script</th>
    <th>English Transliteration</th>
    <th>English Translation</th>
  </tr>

  <% get_all_words_displayable.each do |word| %>
  <tr>
    <td>
      <span class="edigaulTextBox">
        <span class="edigaulWord">
          <% word[0].each do |letter| %>
          <span class="edigaulUnit">
            <%= get_vowel_img(letter[0], "topVowelImg") %>
            <%= image_tag ("#{letter[1]}.png"), class: "consonantImg" %>
            <%= get_vowel_img(letter[2], "bottomVowelImg") %>
          </span>
          <% end %>
        </span>
      </span>
    </td>
    <td><%= word[1] %></td>
    <td><%= word[2] %></td>
    <td>
      <%= button_to "X",
        word_path(word[3]),
        method: :delete,
        class: "deleteButton",
        data: { confirm: "Are you sure you want to delete word #{word[2]} / #{word[1]}?" }
      %>
    </td>
  </tr>
  <% end %>
</table>
