<div class="letterButtons">
  <%= button_to "B",  { text: "#{@text}b," } %>
  <%= button_to "D",  { text: "#{@text}d," } %>
  <%= button_to "F",  { text: "#{@text}f," } %>
  <%= button_to "G",  { text: "#{@text}g," } %>
  <%= button_to "H",  { text: "#{@text}h," } %>
  <%= button_to "J",  { text: "#{@text}j," } %>
  <%= button_to "K",  { text: "#{@text}k," } %>
  <%= button_to "L",  { text: "#{@text}l," } %>
  <%= button_to "M",  { text: "#{@text}m," } %>
  <%= button_to "N",  { text: "#{@text}n," } %>
  <%= button_to "P",  { text: "#{@text}p," } %>
  <%= button_to "R",  { text: "#{@text}r," } %>
  <%= button_to "S",  { text: "#{@text}s," } %>
  <%= button_to "T",  { text: "#{@text}t," } %>
  <%= button_to "V",  { text: "#{@text}v," } %>
  <%= button_to "W",  { text: "#{@text}w," } %>
  <%= button_to "Y",  { text: "#{@text}y," } %>
  <%= button_to "Z",  { text: "#{@text}z," } %>
  <%= button_to "Sh", { text: "#{@text}sh," } %>
  <%= button_to "Ch", { text: "#{@text}ch," } %>
  <%= button_to "Th", { text: "#{@text}th," } %>
  <%= button_to "Zh", { text: "#{@text}zh," } %>
  <%= button_to "X",  { text: "#{@text}x," } %>
</div>
<div class="letterButtons">
  <%= button_to "eh",  { text: "#{@text}eh," } %>
  <%= button_to "ee",  { text: "#{@text}ee," } %>
  <%= button_to "ah",  { text: "#{@text}ah," } %>
  <%= button_to "aa",  { text: "#{@text}aah," } %>
  <%= button_to "aw",  { text: "#{@text}aw," } %>
  <%= button_to "ay",  { text: "#{@text}ay," } %>
  <%= button_to "uh",  { text: "#{@text}uh," } %>
  <%= button_to "uu",  { text: "#{@text}uuh," } %>
  <%= button_to "oh",  { text: "#{@text}oh," } %>
  <%= button_to "oo",  { text: "#{@text}oo," } %>
  <%= button_to "ih",  { text: "#{@text}ih," } %>
  <%= button_to "ahy", { text: "#{@text}ie," } %>
</div>
<div class="letterButtons">
  <%= button_to "Morpheme Break", { text: "#{@text}/," } %>
  <%= button_to "Backspace", { text: "#{@text}-" } %>
</div>
<br>
<a href="/tool">Clear</a>
<br>
<a href="/help">How to Use</a>