<% provide(:title, "Dictionary") %>

<center>
  <h3>Rohkshe Dictionary</h3>

  <table>
    <tr>
      <td>Rohkshe Script</td>
      <td>English Transliteration</td>
      <td>English Translation</td>
    </tr>

    <% @all_words_displayable.each do |word| %>
    <tr>
      <td>
        <span class="edigaulTextBox">
          <span class="edigaulWord">
            <% word[0].each do |letter| %>
            <span class="edigaulUnit">
              <%= get_vowel_img(letter[0], "topVowelImg") %>
              <%= image_tag ("#{letter[1]}.png"), class: "consonantImg" %>
              <%= get_vowel_img(letter[2], "bottomVowelImg") %>
            </span>
            <% end %>
          </span>
        </span>
      </td>
      <td><%= word[1] %></td>
      <td><%= word[2] %></td>
    </tr>
    <% end %>
  </table>

  <h4>Add a Word</h4>
  <%= form_with model: @word do |f| %>

    <%= f.fields_for :word do |w| %>
      <%= w.text_field :rohkshe, placeholder: "Rohkshe" %>
      <%= w.text_field :transliteration, placeholder: "Transliteration" %>
      <%= w.text_field :translation, placeholder: "Translation" %> <br>
    <% end %>

    <%= f.submit "Add Word" %>
  <% end %>
</center>
