<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Edigaul Abugida</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbarBox">
      <a href="/" class="navbarTextButton">
        <h2 class="navbarText">Edigaul Abugida</h2>
      </a>
      <div class="navbarRightButtons">
        <a href="/" class="navbarTextButton">
          <h4 class="navbarText">Home</h4>
        </a>
        <a href="/tool" class="navbarTextButton">
          <h4 class="navbarText">Tool</h4>
        </a>
        <a href="/dictionary" class="navbarTextButton">
          <h4 class="navbarText">Dictionary</h4>
        </a>
        <a href="/about" class="navbarTextButton">
          <h4 class="navbarText">About</h4>
        </a>
        <a href="/help" class="navbarTextButton">
          <h4 class="navbarText">Help</h4>
        </a>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
