<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title) %> | Edigaul Abugida</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbarBox">
      <a href="/" class="navbarTextButton">
        <h1 class="navbarBigText">Edigaul Abugida</h1>
      </a>
      <div class="navbarRightButtons">
        <a href="/" class="navbarTextButton">
          <h2 class="navbarText">Home</h2>
        </a>
        <a href="/tool" class="navbarTextButton">
          <h2 class="navbarText">Tool</h2>
        </a>
        <a href="/dictionary" class="navbarTextButton">
          <h2 class="navbarText">Dictionary</h2>
        </a>
        <a href="/about" class="navbarTextButton">
          <h2 class="navbarText">About</h2>
        </a>
        <a href="/help" class="navbarTextButton">
          <h2 class="navbarText">Help</h2>
        </a>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
